.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background:white;
  color: black;
  border-radius: 20px;
}
body{
  background-color: black;
  color:black
}
.nav a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
  border: black 2px solid;
  padding: 5px 5px;
  border-radius: 10px;
}

.nav a:hover {
  color:white;
  background-color: black;
  border: black 2px solid;
}
.text{
  padding-left: 100px;
  padding-top: 100px;
  margin: auto;
  text-align: center;
  font-size: 2em;
}
.btn{
 border: none;
 position: relative;
 width: 200px;
 height: 73px;
 padding: 0;
 z-index: 2;
 -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
 mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
 -webkit-mask-size : 100%;
 cursor: pointer;
 background-color: transparent;
 transform: translateY(8px)
}

.btn:after {
 content: '';
 position: absolute;
 left: 0;
 right: 0;
 bottom: 0;
 box-shadow: 0px 0 0 0 white;
 transition: all 2s ease;
}
.btn:hover:after {
 box-shadow: 0px -13px 56px 12px #ffffffa6;
}
.btn span {
 position: absolute;
 width: 100%;
 font-size: 15px;
 font-weight: 100;
 left: 50%;
 top: 39%;
 letter-spacing: 3px;
 text-align: center;
 transform: translate(-50%,-50%);
 color: black;
 transition: all 2s ease;
 border: 1px solid black;
}
.btn:hover span {
 color: white;
}
.btn:before {
 content: '';
 position: absolute;
 width: 0;
 height: 100%;
 background-color: black;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 transition: all 1s ease;
}
.btn:hover:before {
 width: 100%;
}
.about{
  color: black;
  background-color: white;
  border-radius: 20px;
  border: #222 2px solid;
  text-align: center;
  padding: 20px;
  align-items: center;
  font-size: 20px;
  padding-bottom: 70px;
}
.heroimg{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  flex: 2;
  padding-right: 100px;
}
.hero{
  justify-content: center;
  display: flex;
  background-color: white;
}
.section{
  border-radius: 20px;
  background-color: white;
  border: #222 2px solid;
  display: flex;
  padding-top: 50px;
  border-bottom: 5px solid black;
  padding-bottom: 150px;
}
.projects{
  border-radius: 20px;
  color: black;
  background-color: white;
  text-align: center;
}
.projectitem{
   display: flex;
   border-radius: 20px;
}
.item1{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 20px;
}
.item1:hover{
    color: white;
    background-color:black;
}
.projectitem{
    border-bottom: 5px solid black;
    padding-bottom: 50px;
    padding-top: 50px;
}
#cc{
  padding-top: 20px;
}
.contact{
  border-radius: 20px;
  background-color: white;
  color: black;
  border: black 2px solid;
  text-align: center;
  padding: 20px;
  align-items: center;
  font-size: 20px;
  padding-bottom: 70px;
}
a{
  text-decoration: none;
}
.surprise {
  position: center;
  color: black;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.surprise:hover {
  color: transparent; 
}
.surprise:hover::after {
  content: "I'M VENGEANCE!";
  position: center;
  padding-right: 200px;
  text-align: center;
  color: black;
}